{% load staticfiles %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "assets/images/logoja-icon.png" %}">
    <title>Control Valve</title>
    <!-- Custom CSS -->
    <link href="{% static "assets/libs/flot/css/float-chart.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{%static "assets/extra-libs/multicheck/multicheck.css" %}">
    <link href="{%static "assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static "css/style.min.css" %}" rel="stylesheet">
    <link href="{% static "css/button.css" %}" rel="stylesheet">
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a href = "/index/" class="navbar-brand">
                        <!-- Logo icon -->
                        <b class="logo-icon ">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="{% static "assets/images/logoja-icon.png" alt="homepage" %}" class="light-logo" />
                           
                        </b>
                        <!--End Logo icon -->
                         <!-- Logo text -->
                        <span class="logo-text">
                             <!-- dark Logo text -->
                             <img src="{% static "assets/images/logoja-text.png" %}" alt="homepage" class="light-logo" />
                            
                        </span>
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light"></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto">
                        <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a></li>
                    </ul>
                   
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin5">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="p-t-30">
                        <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link" href="/" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">หน้าหลัก</span></a></li>
                        <li class="sidebar-item selected"><a class="sidebar-link waves-effect waves-dark sidebar-link" href="/vegetables/view/" aria-expanded="false"><i class="fas fa-database"></i><span class="hide-menu">ข้อมูลพืชผล</span></a></li>
                        <li class="sidebar-item bar-mobile"><a class="sidebar-link waves-effect waves-dark sidebar-link" href="/graph/" aria-expanded="false"><i class="fas fa-chart-bar"></i><span class="hide-menu">กราฟ</span></a></li>
                        <li class="sidebar-item bar-mobile"><a class="sidebar-link waves-effect waves-dark sidebar-link" href="/history/" aria-expanded="false"><i class="fas fa-history"></i><span class="hide-menu">ประวัติ</span></a></li>
                    
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
             <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">พืชผล</h4>
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><i class="fa fa-plus"></i><a href= "/vegetables/new" > เพิ่มข้อมูลพืชผล</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Sales Cards  -->
                <!-- ============================================================== -->
                <div class="row">
                    
                    <div class="col-12">
                        <div class="card">
                            <h5 class="card-title"></h5>
                            <input type="text" style="width: calc(100% - 25px);" id="search_plant" onkeyup="searchPlant()" placeholder="ค้นหา">
                            <div class="table-responsive">
                                <table id="zero_config" class="table table-plant">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>
                                                <label class="customcheckbox m-b-20">
                                                    <input type="checkbox" id="mainCheckbox" />
                                                    <span class="checkmark"></span>
                                                </label>
                                            </th>
                                            <th scope="col">ชนิด</th>
                                            <th scope="col">ระยะเวลาในการปลูก</th>
                                            <th scope="col">แก้ใข</th>
                                        </tr>
                                    </thead>
                                    <tbody class="customtable">
                                        {% for v in vegs %}
                                        <tr>
                                            <th>
                                                <label class="customcheckbox">
                                                    <input type="checkbox" id="plant-edit-cb-{{ v.pk }}" class="listCheckbox plant-edit-cb" value="{{ v.pk }}" />
                                                    <span class="checkmark"></span>
                                                </label>
                                            </th>
                                            
                                            <td>{{ v.type_name }}</td>
                                            <td>{{ v.duration }} วัน</td>
                                            <td><a href="/vegetables/edit/{{ v.pk }}">แก้ไข</a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <button id="delete-bar-2" data-toggle="modal" data-target="#delete-modal" class="btn btn-danger delete-bar">ลบข้อมูล</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <div style="height: 50px" class="mobileindex"></div>
    <div id="delete-bar-1" class="delete-bar" data-toggle="modal" data-target="#delete-modal">
        ลบข้อมูล
        <form id="delete-form" action="/vegetables/delete/" method="post">
            <input type="hidden" name="delete-ids" id="delete-ids" value="[]" >
            {% csrf_token %}
        </form>
    </div>
    
    {% include "modals.html" %}
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    
    
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static "js/main.js" %}"></script>
    <script src="{% static "assets/libs/jquery/dist/jquery.min.js" %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static "assets/libs/popper.js/dist/umd/popper.min.js" %}"></script>
    <script src="{% static "assets/libs/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js" %}"></script>
    <script src="{% static "assets/extra-libs/sparkline/sparkline.js" %}"></script>
    <!--Wave Effects -->
    <script src="{% static "js/waves.js" %}"></script>
    <!--Menu sidebar -->
    <script src="{% static "js/sidebarmenu.js" %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static "js/custom.min.js" %}"></script>
    <!-- Charts js Files -->
    <script src="{% static "assets/libs/flot/excanvas.js" %}"></script>
    <script src="{% static "assets/libs/flot/jquery.flot.js" %}"></script>
    <script src="{% static "assets/libs/flot/jquery.flot.pie.js" %}"></script>
    <script src="{% static "assets/libs/flot/jquery.flot.time.js" %}"></script>
    <script src="{% static "assets/libs/flot/jquery.flot.stack.js" %}"></script>
    <script src="{% static "assets/libs/flot/jquery.flot.crosshair.js" %}"></script>
    <script src="{% static "assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js" %}"></script>
    
    <!-- this page js -->
    <script src="{% static "assets/extra-libs/multicheck/datatable-checkbox-init.js" %}"></script>
    <script src="{% static "assets/extra-libs/multicheck/jquery.multicheck.js" %}"></script>
    <script src="{% static "assets/extra-libs/DataTables/datatables.min.js" %}"></script>
    <script>
        if(window.innerWidth > 767){
            $('#zero_config').DataTable();
        }
        
        $(document).ready(function(){
            if($(".plant-edit-cb").length > 0){
                shift_delete = function(){
                    var cbs = $(".plant-edit-cb")
                    var n_checked = 0
                    for(var p = 0; p < cbs.length; p++){
                        n_checked += cbs[p].checked
                    }
                    if(window.innerWidth <= 767){
                        if(n_checked > 0){
                            $("#delete-bar-1").css({top: window.innerHeight - 60, height: 60})
                        }else{
                            $("#delete-bar-1").css({top: window.innerHeight})
                        }
                    }else{
                        if(n_checked > 0){
                            $("#delete-bar-2").css({height: 50})
                        }else{
                            $("#delete-bar-2").css({height: 0})
                        }
                        $("#delete-bar-2").css({display: "block"})
                    }
                    console.log($("#delete-bar-2"))
                }
                $(".plant-edit-cb").click(shift_delete)
                $("#mainCheckbox").click(shift_delete)
            }
            $(".delete-bar").click(function(){
                var cbs = $(".plant-edit-cb")
                remove_list = []
                for(var p = 0; p < cbs.length; p++){
                    if(cbs[p].checked){
                        remove_list.push(cbs[p].value)
                    }
                }
                $("#show-delete").html("คุณต้องการที่จะลบพืช "+remove_list.length+" ชนิด ใช่หรือไม่ ?")
                $("#delete-ids").val(JSON.stringify(remove_list))
            })
            $("#submit-delete").click(function(){
                $("#delete-form").submit()
            })
            console.log($("#zero_config_length"))
        })
    </script>
</body>

</html>